.article {
  margin: 10px auto;
}

.article__heading {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.article__main {
  display: flex;
  border: 1.2px solid rgba(135, 135, 135, 0.5);
  margin: 0 20px 20px 20px;
  padding: 15px;
  border-radius: 10px;
}
.article__title {
  flex: 4;
  margin-right: 5px;
}

.article__time {
  opacity: 0.5;
}

.article__img {
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
  max-height: 100px;
  margin-right: 10px;
  flex: 1;
}
